div {
    background: linear-gradient(90deg, #000 31.49%, #323131 100%);
    margin: 0;
    padding: 0;
    height: 100px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

h1 {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
}